/******************************************************/
/*FOOTER*/
.fcontainer{
    background-color: #181818;
    margin-top: 10px;
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
}
/* Footer complet*/

.chocolaterie{
    text-align: center;
    width: 550px;
    margin-left: 100px;
}
.service{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.about{
    text-align: center;
    margin-right: 100px;
}
/*position des blocs*/

.chocolaterie h3{
    margin-bottom: 50px;
}
h3{
    margin-top: 10px;
    font-weight: bold;
    font-size:20px;
}
.txt{
    font-size: 16px;
    color: white;
    opacity: 0.5;
}
ul{
    margin-top:0px;
    padding: 0px;
    list-style:none;
    line-height:2;
    font-size:18px;
    color: darkgrey;
}
ul,a {
    color:darkgrey;
    text-decoration:none;
}
ul,a:hover {
    color: white;
    transition: 1ms;
}
/*texte de toutes les parties*/

.cont_logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo_insta{
    margin-left: 600px;
}
.logo_mail{
    margin-right: 600px;
}
.insta, .fb, .linkedin, .mail{
    color: white;
    width: 25px;
    height: 25px;
}
/* placement des logos sur le footer*/

.copyright{
    color: darkgrey;
    text-align: center;
}